<h1>Show City</h1>

<span><%= link "Edit", to: Routes.city_path(@conn, :edit, @city) %></span>
|
<span><%= link "List", to: Routes.city_path(@conn, :index) %></span>

<p/>
<ul>

  <li>
    <strong>Name:</strong>
    <%= @city.nam %>
  </li>

  <li>
    <strong>Population:</strong>
    <%= Number.Delimit.number_to_delimited(@city.pop) %>
  </li>

  <li>
    <strong>Latitude:</strong>
    <%= @city.lat %>
  </li>

  <li>
    <strong>Longitude:</strong>
    <%= @city.lon %>
  </li>

</ul>
